@import '../../scss/mixins';
@import '../../scss/variables';

.scrollable {
  height: calc(100vh - 6rem);
  padding: 0 2rem 4rem;
  margin-top: 6rem;
  overflow-y: auto;
  transition: padding 0.2s ease-in-out;

  @include breakpoint(md) {
    padding: 0 4rem 4rem;
  }
}

.about {
  &__sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__section {
    margin-bottom: 4rem;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }

    &--bio{
      @include breakpoint(lg) {
        flex: 1 1 70%;
        min-width: 70%;
        padding-right: 4rem;
      }
    }
    &--experience {
      @include breakpoint(lg) {
        flex: 1 1 30%;
        min-width: 30%;
      }
    }
  }

  &__description {
    color: $dark-gray;
    font-size: 1.6rem;
    line-height: 1.3;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $magenta;
    font-size: 1.6rem;

    @include breakpoint(md) {
      flex-direction: row;
    }

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }

  &__skill {
    margin-bottom: 1rem;
    padding-right: 1rem;

    @include breakpoint(md) {
      flex: 1 0 50%;
      min-width: 50%;
    }

    @include breakpoint(lg) {
      flex: 1 1 100%;
    }
  }

  &__next {
    position: relative;
    display: inline-block;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
