<div block='scrollable'>
  <div block='about'>
    <div elem='sections'>
      <section elem='section' mod='bio'>
        <h2 elem='heading'>Bio</h2>
        <p elem='description'>
          I am an experienced software engineer with a background in front and back end development.  I'm passionate about mobile-first design, intuitive interfaces, and creating beautiful, usable, and accessible user experiences.
        </p>

        <p elem='description'>
          Most recently, I built a B2B e-commerce and logistics platform from the ground up for <a href='https://cannopy.com' target='_blank' rel='noopener' [tabindex]='active ? 0 : -1'>Cannopy</a>, using Angular 5 and Node.js. Prior to that, I developed edtech software for <a href='https://getset.com' target='_blank' rel='noopener' [tabindex]='active ? 0 : -1'>GetSet</a>.  There, I implemented modern social networking features like badging, notifications, and profile completion with game mechanics in our student-facing app.  Using the D3 graphing library, I also created complex data visualizations in our partner-facing app.
        </p>

        <p elem='description'>
          I love learning new technologies and am always working to become better at what I do. Plan it out, get it working, and refactor, refactor, refactor. I try to apply this process to everything I do, not just web development.  I am also a gamer, a cat person, and a makeup enthusiast.
        </p>

        <a href='https://drive.google.com/open?id=1kDjri75JoXf8IbeUZE88Q6AQVY3qecw4'
           target='_blank' rel='noopener'
           [tabindex]='active ? 0 : -1'
           block='button' mod='primary'>View my resume</a>
      </section>

      <section elem='section' mod='experience'>
        <h2 elem='heading'>Technical Skills</h2>
        <ul elem='skills'>
          <li elem='skill'>Angular 2+</li>
          <li elem='skill'>AngularJS (1.x)</li>
          <li elem='skill'>JavaScript (ES6, TypeScript)</li>
          <li elem='skill'>HTML5</li>
          <li elem='skill'>CSS3 (BEM, SASS)</li>
          <li elem='skill'>Mobile-first responsive design</li>
          <li elem='skill'>Cross-browser compliance</li>
          <li elem='skill'>Accessibility/WCAG 2.0</li>
          <li elem='skill'>Node.js</li>
          <li elem='skill'>Ruby on Rails</li>
          <li elem='skill'>PostgreSQL</li>
          <li elem='skill'>Mongo</li>
          <li elem='skill'>Elasticsearch</li>
          <li elem='skill'>RxJS</li>
          <li elem='skill'>D3/NVD3</li>
        </ul>
      </section>
    </div>

    <app-next elem='next' (next)='nextSection()' [active]='active'></app-next>
  </div>
</div>
