@import '../../../scss/mixins';
@import '../../../scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 4;
  background: $magenta $header-gradient;
  padding: 1rem;
  transition: all 0.3s ease;

  @include breakpoint(md) {
    padding: 0 4rem;
  }

  .button {
    &--logo {
      visibility: visible;
      opacity: 1;
      padding: 0;
      height: auto;
      line-height: initial;
      background: none;
      @include focus-indicator($white, -1rem);
    }

    &__text {
      color: $white;
      font-size: 3rem;
      line-height: 1.15;
      margin: 0;
      @include display-text;
      transition: all 0.3s ease;

      @include breakpoint(md) {
        font-size: 5rem;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    position: relative;
    font-size: 1.2rem;
    margin: 0 0.25rem;
    transition: margin 0.3s ease;

    @include breakpoint(md) {
      font-size: 1.4rem;
      margin: 0 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    button {
      border: none;
      background: none;
      color: $white;
      @include bold;
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      outline: none;
      transition: all 0.2s ease-in-out;

      @include focus-indicator();

      &::after {
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        content: '';
        height: 2px;
        width: 0;
        transition: width 0.15s ease-in-out;
        background-color: $white;
      }

      &:hover,
      &:focus {
        &::after {
          width: 100%;
          transition: width 0.3s ease-in-out;
        }
      }
    }

    &--active {
      button::after {
        width: 100%;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  &--landing {
    background: transparent;
    .button--logo {
      visibility: hidden;
      opacity: 0;
    }
  }
}
