@font-face {
  font-family: 'Cheddar Jack';
  src: url('/assets/fonts/CheddarJack.eot');
  src: url('/assets/fonts/CheddarJack.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CheddarJack.woff2') format('woff2'),
      url('/assets/fonts/CheddarJack.woff') format('woff'),
      url('/assets/fonts/CheddarJack.ttf') format('truetype'),
      url('/assets/fonts/CheddarJack.svg#CheddarJack') format('svg');
  font-weight: normal;
  font-style: normal;
}


$white: #FFFFFF;
$light-gray: #F6F6F6;
$medium-gray: #C0C0C0;
$dark-gray: #404040;
$black: #000000;

$nude: #D8A092;
$mauve: #BB7079;
$magenta: #9F285D;
$marigold: #C38013; //#D8A34B;
$brown: #420E00;

$border-radius: 2px;

$gradient: linear-gradient(135deg, $magenta 0%, $nude 100%);
$header-gradient: linear-gradient(135deg, $magenta 0%, $mauve 100%);

@keyframes pulse {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}
